@import url("./base.css");
.login {
  background-color: #e4e2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border: 1px solid; */
}

.login__form {
  background-color: #fff;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login__title {
  text-align: center;
  font-size: 24px;
  color: black;
}

.login__form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.login__button {
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.login__button:hover {
  background-color: #1e40af;
}
