.App {
  text-align: center;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.Counter {
  width: 40%;
  background-color: yellow;
  font-size: 32px;
  border: 2px solid red;
  border-radius: 8px;
  padding: 10px 0;
}

button {
  color: white;
  padding: 4px 6px;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.btnCnt {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.inc {
  background-color: green;
}
.dec {
  background-color: red;
}
